module.exports = {
    config: {
      host: 'Айпи сервера',
      port: 'Порт (если есть, если не нужен - оставить пустым)',
      img: 'Ссылка на изображение (если есть, если не нужна - оставить пустой)',
      icon: 'Ссылка на иконку (если есть, если не нужна - оставить пустой)',
      footerr: 'Футер (это то что находится внизу эмбеда)',
    },
    namemc: 'Имя сервера',
  };
  